<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dream.com.party.model.mapper.PartyMapper">
	<resultMap id="partyResultMap" type="www.dream.com.party.model.PartyVO">
		<result property="partyId" column="party_id" />
		<result property="startDate" column="latitude" />
		<result property="thruDate" column="longitude" />
		<result property="latitude" column="start_date" />
		<result property="longitude" column="thru_date" />
	</resultMap>
	
	<resultMap id="userResultMap" type="www.dream.com.party.model.UserVO" extends="partyResultMap">
		<result property="userNum" column="user_num" />
		<result property="email" column="email" />
		<result property="loginId" column="login_id" />
		<result property="password" column="password" />
	</resultMap>
	
	<resultMap id="infectedPersonResultMap" type="www.dream.com.party.model.InfectedVO" extends="partyResultMap">
		<result property="addressName" column="address_name" />
	</resultMap>
	
	<select id="selectAllParty" resultMap="partyResultMap">
	<![CDATA[
		select *
		  from T_Party
	]]>
	</select>
	
	
<!-- 	<insert id="registerLocation"> -->
<!-- 		<selectKey keyProperty="userId" order="BEFORE" resultType="_long"> -->
<!-- 			select seq4User_id.nextval -->
<!-- 		</selectKey> -->
<!-- 		<![CDATA[ -->
<!-- 		insert into T_Party(user_id, latitude, longitude) -->
<!-- 		       values(#{userId}, #{latitude}, #{longitude}) -->
<!-- 		]]> -->
<!-- 	</insert> -->
	
</mapper>