<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dream.com.board.model.mapper.PostMapper">
	<resultMap id="postResultMap" type="www.dream.com.board.model.PostVO">
		<result property="postId" column="post_id" />
		<result property="postTitle" column="post_title" />
		<result property="postContent" column="post_content" />
		<result property="viewCount" column="view_count" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<result property="boardId" column="board_id" />
		<association property="userId" column="user_id"
		resultMap="www.dream.com.party.model.mapper.PartyMapper.partyResultMap" columnPrefix="w_">
		</association>
	</resultMap>
	
	<select id="listPost" resultMap="postResultMap">
	<![CDATA[
		select p.post_id, p.post_title, p.post_content,p.user_id, p.view_count, p.board_id, p.reg_date, p.update_date
				, w.party_id w_party_id
  		  from T_Post p
  		  left outer join T_Party w on p.user_id = w.party_id
  		 where p.board_id = #{boardId}
  		 order by p.post_id desc
	]]>
	</select>
	
	<!-- public PostVO findPostById(long postId) -->
	<select id="findPostById" resultMap="postResultMap">
	<![CDATA[
		select p.post_id,p.post_title,p.post_content, p.user_id, p.view_count, p.board_id, p.reg_date, p.update_date, 
				w.party_id w_party_id
		  from T_Post p
		  left outer join T_Party w on p.user_id = w.party_id
		 where p.post_id = #{postId}
	]]>
	</select>
	
	
	<insert id="registerPost">
		<selectKey keyProperty="postId" order="BEFORE" resultType="long">
			select seq4Post_id.nextval from dual
		</selectKey>
		<![CDATA[
		insert into T_Post(post_id, post_title, post_content, user_id, view_count, board_id)
		       values(#{postId}, #{postTitle, jdbcType=VARCHAR}, #{postContent, jdbcType=VARCHAR}, #{userId.partyId}, 3, #{boardId})
		]]>
	</insert>
	
	<update id="updatePost">
	<![CDATA[
		update T_Post
		   set post_title = #{postTitle},
		   	   post_content = #{postContent},
		       update_date = sysdate
		 where post_id = #{postId}
	]]>
	</update>

	<delete id="removePost">
	<![CDATA[
		delete from T_Post
		 where post_id = #{postId}
	]]>
	</delete>
</mapper>