<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dream.com.board.model.mapper.ReplyMapper">
	<resultMap id="replyResultMap" type="www.dream.com.board.model.ReplyVO">
		<result property="replyId" column="reply_id" />
		<result property="replyContent" column="reply_content" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<association property="userId" column="user_id" 
		resultMap="www.dream.com.party.model.mapper.PartyMapper.partyResultMap" columnPrefix="w_">
		</association>
	</resultMap>
	
	<select id="findAllReply" resultMap="replyResultMap">
	<![CDATA[
		select r.reply_id, r.reply_content, r.user_id, r.reg_date, r.update_date, 
			   w.party_id w_party_id
		  from T_Reply r
			   left outer join T_Party w on r.user_id = w.party_id
		 where r.post_id = #{postId}
	]]>
	</select>
	
	<select id="findReplyById" resultMap="replyResultMap">
	<![CDATA[
		select r.reply_id, r.reply_content, r.user_id, r.original_id, r.reg_date, r.update_date, 
				w.party_id w_party_id
		  from T_Reply r
		  left outer join T_Party w on r.user_id = w.party_id
		 where r.reply_id = #{replyId}
	]]>
	</select>
	
	<!--public void registerReply(ReplyVO reply);-->
	<insert id="registerReply">
		<selectKey keyProperty="replyId" order="BEFORE" resultType="long">
			select seq4Reply_id.nextval from dual
		</selectKey>
		<![CDATA[
		insert into T_Reply(reply_id, reply_content, original_id, user_id)
		       values(#{replyId}, #{replyContent, jdbcType=VARCHAR}, #{originalId}, 2)
		]]>
	</insert>
</mapper>