<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dream.com.board.model.mapper.ReplyMapper">
	<resultMap id="replyResultMap" type="www.dream.com.board.model.ReplyVO" extends="www.dream.com.party.model.mapper.PartyMapper.partyResultMap">
		<result property="id" column="id" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
<!-- 		<association property="userId" column="user_id"  -->
<!-- 		resultMap="www.dream.com.party.model.mapper.PartyMapper.partyResultMap" columnPrefix="w_"> -->
<!-- 		</association> -->
		<discriminator javaType="String" column="obj_type">
			<case value="reply" resultMap="replyResultMap" />
		</discriminator>
	</resultMap>
	
	<select id="listReply" resultMap="replyResultMap">
	<![CDATA[
		select r.id, r.content, r.user_id, r.original_id, r.obj_type, r.reg_date, r.update_date, 
			   w.party_id w_party_id
		  from T_Reply r
			   left outer join T_Party w on r.user_id = w.party_id
		 where r.original_id = #{originalId}
		 order by r.id desc
	]]>
	</select>
	
	<select id="findReplyById" resultMap="replyResultMap">
	<![CDATA[
		select r.id, r.content, r.user_id, r.original_id, r.obj_type, r.reg_date, r.update_date, 
			   w.party_id w_party_id
		  from T_Reply r
		  left outer join T_Party w on r.user_id = w.party_id
		 where r.id = #{id}
	]]>
	</select>
	
	<!--public void registerReply(ReplyVO reply);-->
	<insert id="registerReply">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			select seq4Reply_id.nextval from dual
		</selectKey>
		<![CDATA[
		insert into T_Reply(id, content, original_id, user_id, obj_type)
		       values(#{id}, #{content, jdbcType=VARCHAR}, #{originalId}, 2, 'reply')
		]]>
	</insert>
	
	<update id="updateReply">
	<![CDATA[
		update T_Reply
		   set content = #{content},
		       update_date = sysdate
		 where id = #{id}
	]]>
	</update>

	<delete id="removeReply">
	<![CDATA[
		delete from T_Reply
		 where id = #{id}
	]]>
	</delete>
</mapper>