<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dream.com.user.model.mapper.UserMapper">
	<resultMap id="UserResultMap"
		type="www.dream.com.user.model.UserVO">
		<result property="partyId" column="PARTY_ID" />
		<result property="userId" column="USER_ID" />
		<result property="loginId" column="LOGIN_ID" />
		<result property="password" column="PASSWORD" />
		<result property="email" column="EMAIL" />
		<result property="authority" column="AUTHORITY" />
		<result property="enabled" column="ENABLED" />
	</resultMap>

	<insert id="signUser">
		<![CDATA[
		insert into T_USER(PARTY_ID, USER_ID, EMAIL, LOGIN_ID, PASSWORD)
		       values(3, seq4userid.nextval, #{email, jdbcType=VARCHAR}, #{loginId, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
		]]>
	</insert>





</mapper>